@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #EDE8E3;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

*::-webkit-scrollbar{
    display: none;
}

@layer utilities {
    .navigation-btn{
        @apply py-2 px-4 bg-green-100 text-grey items-center gap-2
    }
}
.bg-green-200{
    background-color: #45C486 !important;
    color: #fff !important;
}

.w-0{
    width: 0;
    overflow: hidden;
}