@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    background-color: #EDE8E3;
    font-family: 'Poppins', sans-serif;
    color: #333333;
}

*::-webkit-scrollbar{
    display: none;
}

@layer utilities {
    .navigation-btn{
        @apply py-2 px-4 bg-green-100 text-grey items-center gap-2
    }
    .form-input{
        @apply block focus:outline-0 text-green-100 
    }
    .feature:hover div{
        @apply bg-white text-green-100
    }
    .lazy-load{
        @apply w-20 max-w-full bg-gray-300 h-4 rounded-full mx-auto
    }
}
.bg-green-200{
    background-color: #45C486 !important;
    color: #fff !important;
}

.w-0{
    width: 0;
    overflow: hidden;
}

.loader {
    border: 3px solid #fff;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 24px;
    height: 24px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}
  
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.dropdown{
    display: none;
}
.profile:hover .dropdown{
    display: block;
}
.lazy-load{
    animation: lazyload 1s ease infinite alternate-reverse both;
}

@keyframes lazyload {
    0%{opacity: 1;}
    50%{opacity: 0.5;}
    100%{opacity: 1;}
}